
@{
    ViewBag.Title = "Strona";
}
<style>
    .naglowek{
        margin: 60px auto;
        text-align: center;
    }
    .opis{
        max-width: 600px;
        margin: 0 auto;
    }
</style>
<div class="naglowek">
    <h2>Mateusz Malek</h2>

</div>
<div class="opis">
   Numer indeksu: 34072
</div>


