@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    ul.Przekątna 9<br />
    02626 Warszawa<br />
</address>

<address>
    <strong>Właściciel:</strong>   <a href="malek.gda@gmail.com">malek.gda@gmail.com</a><br/>
    
</address>